body
		{
		background-image: url("https://www.rts.ch/2017/03/13/12/37/8457893.image");
        background-repeat: no-repeat;
        height: 900;
        background-size: cover;
       
        }

        #input1{
        
            border-radius: 50px;
            font-size: 3em;

        }
        #button{
            border-radius: 50px;
            color: white;
            background-color: lightsalmon;
            font-size: 3em;

        }
        #reset{
            border-radius: 50px;
            color: white;
            background-color:gray;
            font-size: 3em;

        }
        h1{
            color: white;
						text-align: center;
				font-size: 5em;
        }

        #output{
            color: white;
            font-weight: bold;
            font-size: 3em;
            background-color: navy;
            /* width: 800px; */
            height: auto;
            margin-top:"100px";
            padding-top:"100px";
            border-top: "100px";
            text-align: center;

        }

        .corps{
        text-align: center;  
        padding-bottom: 100px;
        margin-top:300px;
}